# Force LF line endings for all text files
* text=auto eol=lf

# Ensure shell scripts are always LF
*.sh text eol=lf
*.bash text eol=lf

# Templates
*.yaml text eol=lf
*.yml text eol=lf
*.j2 text eol=lf
*.json text eol=lf
*.md text eol=lf

# Devcontainer
Dockerfile text eol=lf
*.Dockerfile text eol=lf
