# This is an example IPPool advertisement configuration and does not get applied to the cluster
# Add the name of this file to the metallb-ippool value to apply this configuration
# If you name this file "internal.yaml", your value should be metallb-ippool-*: 'internal'
kind: IPAddressPool
apiVersion: metallb.io/v1beta1
metadata:
  name: internal-cisco
  namespace: metallb-system
spec:
  # autoAssign: false  To prevent IPs from being handed out if another pool is exhausted and this is used as backup
  addresses:
    - 192.168.100.1-192.168.100.20
