# This is an example BGP advertisement configuration and does not get applied to the cluster
# Add the name of this file to the metallb-bgp-* value to apply this configuration
# If you name this file "internal.yaml", your value should be metallb-bgp-*: 'internal'
apiVersion: metallb.io/v1beta1
kind: BGPAdvertisement
metadata:
  name: internal
  namespace: metallb-system
spec:
  ipAddressPools:
    - internal-cisco
  aggregationLength: 32
